<div>
	<div class="col-sm-12">
		<div class="col-sm-10">
	   <font size="6">GroupDetails</font>
    </div>
    <div class="col-sm-2">
	   <button type="button" class="btn btn-danger " ng-click="back()" >Back</button>
    </div>
	</div>
  <br/><br/><br/><br/>
  <div class="col-sm-12">
   <div> <font size="6"> {{DisplayName}} </font> </div>
  </div>
  <br/>

<!-- </div>
<div>
	<div class="col-xs-3">
		<div class="input-group">
		 <body> Group Name: </body>
		 <input type="text" class="form-control" aria-describedby="basic-addon1" style="border: solid 1px #000000"/>
	 </div>
</div> -->

	<form class="form-horizontal">
	  <div class="form-group">
	    <label class="col-sm-2 col-form-label">Group Name:</label>
			<div class="col-sm-10">
		    <input type="text" class="form-control" aria-describedby="basic-addon1" style="border: solid 1px #000000" ng-model="DisplayName"/>
			</div>
	  </div>


		<div class="form-group">
	    <label class="col-sm-2 col-form-label">Group Description:</label>
			<div class="col-sm-10">
				<textarea  style="border: solid 1px #000000"  ng-model="Description" class="form-control"></textarea>
				<br />
			</div>
	  </div>

<!--
		<div class="form-group">
			<label class="col-sm-2 col-form-label">Assigned Users:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" aria-describedby="basic-addon1" style="border: solid 1px #000000"/>
			</div>

		</div>
	 <br /> -->


    <div class="form-group">
			<div class="row">
				<div class="col-sm-11">
			<table class="table table-responsive ZachTbl" >
				<thead>
					<tr>
						<th>Display Name </th>
						<th>Email</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="groupMembers in GroupMembers">
						<td>{{groupMembers.UserDisplayName}}</td>
						<td>{{groupMembers.Email}}</td>
						<td><a ng-hide="OwnerID != userDataID || OwnerID == groupMembers.UserID" ng-click="RemoveUserFromGroupDialog(groupMembers.UserID)">Remove</a></td>
					</tr>
				</tbody>
			</table>
			</div>
			<div ng-hide="OwnerID != userDataID" class="col-sm-1">
				<button type="button" ng-click="AddUserToGroupDialog()" class="btn btn-info">+</button>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-form-label">Tags:</label>
		<div class="row">
			<div class="col-sm-11">
		<table class="table table-responsive ZachTbl" >
			<thead>
				<tr>
					<th>Tag Name </th>
					<th>Color</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tags in Tags">
					<td><input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="tags.Name"/></td>
					<td><button uib-popover-template="'myPopoverTemplate.html'" popover-placement="top-left" style="background-color: {{tags.Color}}; padding: 14px; border-radius: 40px;" class="btn"></button>	{{$scope.SavedTag.ID}}</td>
					<td><a ng-click="SaveTag(tags)">Save</a> | <a ng-click="RemoveTag(tags)">Remove</a></td>
				</tr>
				<tr>
					<td><input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="newTag.Name"/></td>
					<td><button uib-popover-template="'myPopoverTemplateNew.html'" popover-placement="top-left" style="background-color: {{newTag.Color}}; padding: 14px; border-radius: 40px;" class="btn"></button></td>
					<td><a ng-click="AddTag()">Add</a></td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="col-sm-1">
				<button type="button" class="btn btn-info">+</button>
  </div>
	</div>
</div>
<script type="text/ng-template" id="myPopoverTemplateNew.html">
	<div style="width: 690px; height: 240px;">
		<color-picker ng-model="$parent.newTag.Color">
		</color-picker>
		<!-- <input ng-model="$parent.newTag.Color"/> -->
	</div>
</script>
<script type="text/ng-template" id="myPopoverTemplate.html">
	<div style="width: 690px; height: 240px;">
		<color-picker ng-model="$parent.tags.Color">
		</color-picker>
		<!-- <input ng-model="$parent.tags.Color"/> -->
	</div>
</script>
<!-- For Version 2.0 -->
	<!-- <div class="form-group">
		<label class="col-sm-2 col-form-label">Attachment</label>
		<div class="row">
			<div class="col-sm-12">
			 <button type="button" class="btn btn-info">Upload</button>
		 </div>
	 </div>
 </div> -->

  <!-- <img src="images/DefaultPicture.jpeg" class="img-rounded" width="200" height="200"> -->

  <div class="col-sm-12">
		<div class="col-sm-3">
    <button type="button" class="btn btn-success" ng-click="submitND(DisplayName, Description)">Save Changes</button>
	</div>
	<div class="col-sm-6">
	</div>
	<div ng-hide="OwnerID != userDataID">
    <button type="button" class="btn btn-danger" ng-click="deleteGP()">Delete</button>
		</div>

	</form>
</div>
</div>
</div>
