<!--
   - NAME: signUp.html
   - CONTROLLER: signUp.js
   - PARENT: index.html <- Header of this file is blocked out on this page
   - Created: Jonathan F. Steele 2/26/17
   - Last Modified: 4/26/17 <- JFS
   - DESCRIPTION: This page allows the user to signup for the Master Tasker Website.
   -->
<!-- START Form -->
<form name="SignUpForm" ng-app="loginController" class="container text-center form-horizontal-center" style="margin-top: 50px;" data-toggle="validator">
	<!-- START Form Header Image -->
	<div class="row" style="padding: 30px;">
		<img class="col-xs-12 col-sm-offset-2 col-sm-9" src="images/MasterTaskerLoginTitleImagexs.png"/>
	</div>
	<!-- END Form Header Image -->
	<!-- START Form Body -->
	<div>
		<!-- START Sign Up Title -->
		<div style="padding: 10px;">
			<span style="font-size: 24px;">Sign Up</span>
		</div>
		<!-- END Sign Up Title -->
		<!-- START Input List -->
		<div>
			<!-- START Email Input -->
			<div class="row">
				<div ng-class="{ 'has-error': BadSignUp == true && SignUpForm.Email.$invalid }" class="form-group col-xs-12 col-sm-offset-3 col-sm-6">
				  <input name="Email" ng-model="Email" placeholder="Email" type="email" class="form-control text-center" required>
				</div>
			</div>
			<!-- END Email Input -->
			<!-- START Password Input -->
			<div class="row">
				<div ng-class="{ 'has-error': BadSignUp == true && SignUpForm.Password.$invalid }" class="form-group col-xs-12 col-sm-offset-3 col-sm-6">
					<input name="Password" ng-model="Password" placeholder="Password" type="password" class="form-control text-center" required>
				</div>
			</div>
			<!-- END Password Input -->
			<!-- START Confirm Password Input -->
			<div class="row">
				<div ng-class="{ 'has-error': (BadSignUp == true && SignUpForm.ConfirmPassword.$invalid) || (Password != ConfirmPassword && BadSignUp == true) }" class="form-group col-xs-12 col-sm-offset-3 col-sm-6">
					<input name="ConfirmPassword" ng-model="ConfirmPassword" placeholder="Confirm Password" type="password" class="form-control text-center" required>
				</div>
			</div>
			<!-- END Confirm Password Input -->
			<!-- START Display Name Input -->
			<div class="row">
				<div ng-class="{ 'has-error': BadSignUp == true && SignUpForm.DisplayName.$invalid }" class="form-group col-xs-12 col-sm-offset-3 col-sm-6">
					<input name="DisplayName" ng-model="DisplayName" placeholder="Display Name" type="text" class="form-control text-center" required>
				</div>
			</div>
			<!-- END Display Name Input -->
		</div>
		<!-- END Input List -->
		<!-- START Sign Up Button -->
		<div class="row">
			<!-- START Input Error-->
			<div ng-show="BadSignUp == true">
				<p style="color:rgb(250,0,0);">
					{{ErrorMessage}}
				</p>
			</div>
			<!-- END Input Error-->
			<div class="col-xs-12 col-sm-offset-4 col-sm-4">
				<button type="submit" class="btn btn-info btn-block" ng-click="signUp(DisplayName, Email, Password, ConfirmPassword)">Sign Up</button>
			</div>
		</div>
		<!-- END Sign Up Button -->
		<br />
		<!-- START Cancel Button -->
		<div class="row">
			<div class="col-xs-12 col-sm-offset-4 col-sm-4">
				<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
			</div>
		</div>
		<!-- END Cancel Button -->
	</div>
	<!-- END Form Body -->
</form>
<!-- END Form -->
