<form class="container text-center" style="margin-top: 50px;">
<div>
	<h1>Tasks</h1>

	<p>{{ message }}</p>
	<p>
		{{fname}}
	</p>
<br>

<div class="row form-group col-xs-12 col-sm-offset-3 col-sm-12">
  <table>
		<thead>
			<tr>
				<td>
					<a href="#tasksDetails" style="color: white; padding-top: 19px;"><button type="button" class="btn btn-info">+</button></a>
			  </td>
        <td>
  				<select class="form-control" id="sel1">
    				<option>Current Group</option>
    				<option>Aperture Labs</option>
    				<option>Aperture Science</option>
    				<option>Personal</option>
  				</select>
			  </td>
				<td>
					<button type="button" class="btn btn-info">Add New Task</button>
				</td>
				<td>
					<label>Show completed?</label>
					 <input type="checkbox" value="">
				</td>
				<td>
					<form action="" class="navbar-form navbar-right">
   					<div class="input-group">
       					<input type="Search" placeholder="Search..." class="form-control" />
       				<div class="input-group-btn">
           			<button class="btn btn-info">
           				<span class="glyphicon glyphicon-search"></span>
           			</button>
       				</div>
   					</div>
					</form>
					<td>
					<i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
				</td>
				</td>
			</tr>
		</thead>
	</table>
</div>

<!--Table of Tasks-->
	 <div>
	 	<table class = "table table-striped table-bordered" style="width:100%">
	   	<tr>
	     	<th>Task Name</th>
	     	<th>Assigned To</th>
				<th>Tags</th>
				<th>Due Date</th>
				<th>v</th>
	   	</tr>
	   	<tr ng-repeat="tasks in Tasks">
	     	<td>{{tasks.TasksName}}</td>
	     	<td>{{tasks.DisplayName}}</td>
				<td>{{tasks.TagID}}</td>
				<td>{{tasks.DueDT}}</td>
	     	<td>
					<div class="checkbox">
						<input type="checkbox" value="">
					</div>
				</td>
	   	</tr>
	 	</table>
	 </div>

</table>
</div>
</form>
