<!--
   - NAME: taskDetails.html
   - CONTROLLER: taskDetails.js
   - PARENT: index.html
   - Created: Charles Choi 3/13/17
   - Last Modified: 5/6/17 <- JFS
   - DESCRIPTION: This is the Task Details page that will allow users to edit task details of the current task
	 - that is selected from the Tasks page.
   -->
<!-- START Index BODY -->
<!-- START BODY HEADER -->
<div>
	<h1>TaskDetails</h1>
	<div class="row">
		<div class="col-sm-10">
			<h3>{{ TaskName }}</h3>
		</div>
		<div class="col-sm-2">
				<button type="button" class="btn btn-info" ng-click="back()">Return to Tasks</button>
		</div>
	</div>
</div>
<!-- END BODY HEADER -->
<br />
<!-- START BODY -->
<form class="form-horizontal">
	<!-- START Task Name Input Area -->
	<div class="form-group">
	 		<label class="col-sm-2 col-form-label">Task Name:</label>
	 		<div class="col-sm-10">
				<input style="border: solid 1px #000000" type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Enter task name" ng-model="TaskName"/>
			</div>
	</div>
	<!-- END Task Name Input Area-->
	<!-- START Task Description Input Area -->
	<div class="form-group">
			<label class="col-sm-2 col-form-label">Task Description:</label>
			<div class="col-sm-10">
				<input style="border: solid 1px #000000" type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Enter task description" ng-model="Description"/>
			</div>
	</div>
	<!-- END Task Description Input Area -->
	<!-- START Tag Dropdown Input Area -->
	<div class="form-group">
		<label class="col-sm-2 col-form-label">Tag:</label>
		<div class="col-sm-10">
			<select style="border: solid 1px #000000" class="form-control" ng-options="tag.ID as tag.Name for tag in Tags" ng-model="TagID" ng-change="TagSelected()">
			</select>
		</div>
	</div>
	<!-- END Tag Dropdown Input Area -->
	<br>
	<!-- START Assign Users Input Area -->
	<!-- TODO: Change this to a Popover -->
	<div class="form-group">
		<label class="col-sm-2 col-form-label">Assign Users:</label>
		<div class="col-sm-8">
			<select style="border: solid 1px #000000" class="form-control" ng-options="user.UserID as user.UserDisplayName for user in Users" ng-model="SelectedUser" ng-change="UserSelected(SelectedUser)">
			</select>
		</div>
		<div class="col-sm-2">
				<button type="button" ng-click="submitUser()" class="btn btn-info">+</button>
		</div>
	</div>
	<!-- END Assign Users Input Area -->
	<!-- START User Members Table Area -->
	<div class="form-group">
		<div class="row">
			<div class="col-sm-11">
				<table class="table table-responsive ZachTbl" >
					<thead>
						<tr>
							<th>Username </th>
							<th>Email</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="taskusers in TaskUsers">
							<td>{{taskusers.UserDisplayName}}</td>
							<td>{{taskusers.Email}}</td>
							 <td>Remove</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- END User Members Table Area -->
	<br>
	<!-- START Due Date Table -->
	<div class="form-group ">
	 <label class="col-sm-2 col-form-label">Due Date:</label>
	 <div class="col-sm-10">
		  <div class="input-group" style="background-color: rgb(255,255,255); padding-right: 10px; border: 1px solid rgb(0,0,0); border-radius: 12px;">
	      <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
	    </div>
	  </div>
  </div>
	<!-- END Due Date Table -->
  <br>
	<label>Location:</label>
	<!-- START Location List -->
	<div class="form-group">
    <!-- Text input-->
    <div class="col-sm-4">
        <label class="control-label" for="textinput">Street</label>
          <div>
					 <input style="border: solid 1px #000000" type="text" placeholder="Street" class="form-control" aria-describedby="basic-addon1" placeholder="Enter task description" ng-model="Street"/>
          </div>
    <!-- Text input-->
        <label class="control-label" for="textinput">City</label>
          <div>
						<input style="border: solid 1px #000000" type="text" placeholder="City" class="form-control" aria-describedby="basic-addon1" placeholder="Enter task description" ng-model="City"/>
          </div>
    <!-- Text input-->
         <label class="control-label" for="textinput">State</label>
          <div>
            <input style="border: solid 1px #000000" type="text" placeholder="State" class="form-control" aria-describedby="basic-addon1" placeholder="Enter task description" ng-model="State"/>
          </div>
		 <!-- Text input-->
         <label class="control-label" for="textinput">Zip Code</label>
           <div>
             <input style="border: solid 1px #000000" type="text" placeholder="Zip Code" class="form-control" aria-describedby="basic-addon1" placeholder="Enter task description" ng-model="ZipCode"/>
           </div>
    </div>
		<div class="col-sm-8">
			<div class="text-center">
				<p ng-bind-html="getGoogleMapHTML()"></p>
			</div>
		</div>
	</div>
	<!-- END Location List -->

	<!-- <p ng-bind-html="getGoogleMapHTML()"></p>
	<p>Next Map</p> -->
  <div class="form-group">
		<div class="col-sm-offset-3 col-sm-5">
 				<div id="map2"></div>
		</div>
	</div>
	<!-- For Version 2.0 -->
	<!--<div class="form-group">
    <label class="col-sm-2 col-form-label">File Attachments:</label>
		<div class="col-sm-offset-2 col-sm-10">
    	<input type="file" class="form-control-file" id="fileAttachment" aria-describedby="fileAttachment">
		</div>
  </div>
  <br>-->
	<!-- Cancel Save-->
	<div class="form-group">
		<div class="row visible-xs visible-sm">
			<div class="col-xs-12 col-sm-6" style="margin-bottom: 15px;">
				<button type="button" class="btn btn-success btn-block" ng-click="submitND(TaskName, Description, TagID, DueDT, Street, City, State, ZipCode)">Save Changes</button>
			</div>
			<div class="col-xs-12 col-sm-4" style="margin-bottom: 15px;">
				<button type="button" class="btn btn-danger btn-block" ng-click="deleteGP()">Delete</button>
			</div>
			<div class="col-xs-12 col-sm-2" style="margin-bottom: 15px;">
				<button type="button" class="btn btn-info btn-block" ng-click="back()">Return to Tasks</button>
			</div>
		</div>
		<div class="row hidden-xs hidden-sm">
			<div class="col-xs-12 col-sm-6" style="margin-bottom: 15px;">
				<button type="button" class="btn btn-success" style="width: 60%;" ng-click="submitND(TaskName, Description, TagID, DueDT, Street, City, State, ZipCode)">Save Changes</button>
			</div>
			<div class="col-xs-12 col-sm-4 text-right" style="margin-bottom: 15px;">
				<button type="button" class="btn btn-danger" style="width: 60%;" ng-click="deleteGP()">Delete</button>
			</div>
			<div class="col-xs-12 col-sm-2" style="margin-bottom: 15px;">
				<button type="button" class="btn btn-info" ng-click="back()">Return to Tasks</button>
			</div>
		</div>
  </div>
  <br />
</form>
<!-- END Index BODY -->
