<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<form class="container text-center" style="margin-top: 50px;">
<div>
	<h1>Tasks</h1>

	<p>{{ message }}</p>
	<p>
		{{fname}}
	</p>
<br>

<div class="row form-group col-xs-12 col-sm-offset-3 col-sm-12">
  <table>
		<thead>
			<tr>
				<td>
					<button type="button" class="btn btn-info">+</button>
			  </td>
        <td>
  				<select class="form-control" id="sel1">
    				<option>Current Group</option>
    				<option>Aperture Labs</option>
    				<option>Aperture Science</option>
    				<option>Personal</option>
  				</select>
			  </td>
				<td>
					<button type="button" class="btn btn-info">Add New Task</button>
				</td>
				<td>
					<label>Show completed?</label>
					 <input type="checkbox" value="">
				</td>
				<td>
					<form action="" class="navbar-form navbar-right">
   					<div class="input-group">
       					<input type="Search" placeholder="Search..." class="form-control" />
       				<div class="input-group-btn">
           			<button class="btn btn-info">
           				<span class="glyphicon glyphicon-search"></span>
           			</button>
       				</div>
   					</div>
					</form>
					<td>
					<i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
				</td>
				</td>
			</tr>
		</thead>
	</table>
</div>

<!--Table of Tasks-->
<table class = "table table-striped table-bordered">
   <caption>Basic Table Layout</caption>

   <thead>
      <tr>
         <th>Task Name</th>
         <th>Assigned to</th>
				 <th>Tags</th>
				 <th>Due date</th>
				 <th>v</th>
      </tr>
   </thead>

   <tbody>
      <tr>
         <td>Collect samples from moon</td>
				 <td>John Smith</td>
				 <td>APTLABS</td>
				 <td>04/02/1017</td>
				 <td>
				 <div class="checkbox">
				 <input type="checkbox" value="">
				 </div>
				 </td>
      </tr>
      <tr>
         <td>Produce abestos</td>
				 <td>Smith Johnson</td>
				 <td>APTSCI</td>
				 <td>03/10/1017</td>
				 <td>
				 <div class="checkbox">
  			 <input type="checkbox" value="">
			   </div>
			   </td>
      </tr>
			<tr>
				 <td>Make grenades out of lemons</td>
				 <td>Jon Schmidt</td>
				 <td>APTWEP</td>
				 <td>06/21/1017</td>
				 <td>
				 <div class="checkbox">
				 <input type="checkbox" value="">
				 </div>
				 </td>
			</tr>
			<tr>
				 <td>Generate code for science</td>
				 <td>Shmidy Johanson</td>
				 <td>APTPRO</td>
				 <td>04/11/1017</td>
				 <td>
				 <div class="checkbox">
				 <input type="checkbox" value="">
				 </div>
				 </td>
			</tr>
   </tbody>

</table>
</div>
</form>
