<!--
   - NAME: userSettings.html
   - CONTROLLER: userSettings.js
   - PARENT: index.html
   - Created: Jonathan Frank Steele 3/10/17
   - Last Modified: 4/22/17 <- JFS
   - DESCRIPTION: The header and footer for this page are in the index.html and everything in this html is
   - in the body. This page is suppose to allow the user to update their user information by calling the
   - userSettings.js which then calls the UserSettings.js <- ServerSide.
   -->

<!--START HTML Body-->
<!--START Div Header-->
<h1>User Settings</h1>
<p>{{ message }}</p>
<br />
<div>
 <h2>Display Settings</h2><br />
 Change your user name and your icon.
</div>
<br />
<!--END Div Header-->
<!--START Div Body-->
<form ng-app="userSettingsController" class="form-horizontal">
    <!--START Form Email Address-->
		<div class="form-group">
			<label class="col-sm-2 col-form-label">E-mail Address:</label>
			<div class="col-sm-4">
				<span class="form-label">{{ Email }}</span>
			</div>
		</div>
    <!--END Form Email Address-->
    <!--START Form Display Name-->
		<div class="form-group">
			<label class="col-sm-2 col-form-label" for="displayName">Display Name:</label>
			<div class="col-sm-4">
				<input type="text" autocomplete="name" class="form-control" id="DisplayName" ng-model="DisplayNameValue" aria-describedby="DisplayName" placeholder={{DisplayName}}>
			</div>
			<div class="col-sm-2">
    <button type="button" class="btn btn-info" ng-click="ChangeName(DisplayNameValue)">Change Name</button>
			</div>
		</div>
    <!--END Form Display Name-->
    <!--START Gravitar-->
		<div class="form-group">
			<label class="col-sm-2 col-form-label" for="displayIcon">Profile Image:</label>
			<div class="col-sm-3">
				<img ng-hide="Email==Null" gravatar-src="'{{ Email }}'" gravatar-size="200" class="img-circle">
			</div>
			<div class="col-sm-7" style=" text-align:left;">
    <span class="DESCRIPTION">Your avatar is shown by using your gravatar set up for your email.</label>
			</div>
		</div>
    <!--END Gravitar-->
		<br /><br /><br />
    <!-- START Form Password Section -->
    <div>
  		<div>
        <h2>Password</h2>
        <br/> Update your password here.
      </div>
  		<br />
      <!-- START Form Old Password Input -->
  		<div class="form-group">
  			<label class="col-sm-2 col-form-label" for="oldPass">Old Password:</label>
  			<div class="col-sm-4">
  				<input type="password" autocomplete="password" class="form-control" ng-model="OldPassword" placeholder="Enter current password">
  			</div>
  		</div>
      <!-- END Form Old Password Input -->
      <!-- START Form New Password Input -->
  		<div class="form-group">
  			<label class="col-sm-2 col-form-label" for="newPass">New Password:</label>
  			<div class="col-sm-4">
  				<input type="password" class="form-control" ng-model="NewPassword" placeholder="Enter a new password">
  			</div>
  		</div>
      <!-- END Form Old Password Input -->
      <!-- START Form Confirm New Password Input -->
  		<div class="form-group">
  			<label class="col-sm-2 col-form-label" for="newPassComfirm">Confirm New Password:</label>
  			<div class="col-sm-4">
  				<input type="password" class="form-control" ng-model="ConfirmNewPassword" placeholder="Confirm new password">
  			</div>
  		</div>
      <!-- END Form Confirm New Password Input -->
      <!-- START Form Update Password Button -->
  		<div class="form-group">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <button type="button" ng-click="ChangePassword(OldPassword, NewPassword, ConfirmNewPassword)" class="btn btn-info">Update Password</button>
  			</div>
      </div>
      <!-- END Form Update Password Button -->
  </div>
  <!-- END Form Password Section-->
	<br /><br /><br /><br /><br /> <!--WhiteSpace-->
  <!-- START Form Delete Account Button -->
  <div>
    <div>
     <h2>Delete Account</h2><br/>
      <label class="col-sm-6 col-form-label">WARNING! All tasks, groups and other user information will be lost forever.</label>
    </div>
    <br /><br /> <!--WhiteSpace-->
    <div>
      <button a href="#" type="button" ng-click="DeleteUser()" class="btn btn-danger" style="color: white;">Delete Account</button>
    </div>
  </div>
  <!-- END Form Delete Account Button -->
	<br /><br /><br /><br /><br /> <!--WhiteSpace-->
</form>
<!--END Div Body-->
<!--END HTML Body-->
